<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{h.melodies}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->

    <h3><span th:text="#{h.choose_melodies}"/> <i th:text="${title}"/> </h3>
    <h5><span th:text="#{author}"/> <i th:text="${a_name}"/></h5>

    <form action="/create/quiz/melodies" method="post">
        <div class="row-fluid">
            <div class="span9">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <small th:text="#{h.melody}"/>
                        </th>
                        <th>
                            <small th:text="#{h.author}"/>
                        </th>
                        <th>
                            <small th:text="#{h.performer}"/>
                        </th>
                        <th>
                            <small th:text="#{h.producer}"/>
                        </th>
                        <th>
                            <small th:text="#{h.add_melody}"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="melody, status : ${principal_melodies}">

                        <td width="5%"  th:text="${status.count}"></td>
                        <td width="25%" th:text="${melody.name}"></td>
                        <td width="20%" th:text="${melody.author.nameShort}"></td>
                        <td width="25%" th:text="${melody.performer}"></td>
                        <td width="20%" th:text="${melody.documentCreator}"></td>
                        <td width="5%">
                            <input type="checkbox"
                                   name="melody"
                                   th:value="${melody.get_id()}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" name="title" th:value="${title}"/>
        <input type="hidden" name="qnum" th:value="${qnum}"/>
        <input type="hidden" name="level" th:value="${level}"/>
        <input type="hidden" name="_id" th:value="${_id}"/>
        <input type="submit" th:value="#{btn.add_m_to_quiz}" class="btn btn-success" id="submit"/>
    </form>

    <!--******************** end page content ************************************************-->

</div>

<!-- Script to check if the client has chosen the right number of melodies -->

<script th:inline="javascript">
    /*<![CDATA[*/

    $('#submit').click(function(e) {
        var shouldBe = /*[[${qnum}]]*/ null;
        var selected = document.querySelectorAll('input[type="checkbox"]:checked').length;

        if (selected != shouldBe) {
            alert([[#{js.selected}]] + " " + selected + ", " + [[#{js.should_be}]] + " " + shouldBe);
            e.preventDefault();
        }
    });

    /*]]>*/
</script>

</body>
</html>