<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->

    <h4><span th:text="#{h.create_quiz}"/> <i th:text="#{t.guess_composer}"/></h4>
    <h5><span th:text="#{author}"/> <i th:text="${a_name}"/>
        <br/>
        <span th:text="#{t.q_number}"/> <i th:text="${q_num}"/></h5>

    <form action="/create/quiz/new" id="form_cr">

        <input type="hidden" name="qnum" th:value="${q_num}"/>
        <input type="hidden" name="_id" th:value="${_id}"/>

        <div class="form-group">
            <label for="title" th:text="#{t.quiz_title}"/>
            <input name="title" type="text" class="form-control" id="title"
                   th:placeholder="#{ph.add_title}" required="true" pattern=".{2,50}"
                   th:value="${title} ? ${title}"/>
        </div>
        <div class="form-group">
            <label for="title" th:text="#{t.set_level}"/>
            <br/>
            <select name="level" id="level">
                <option th:each="level: ${T(com.engstuff.quizwebpanel.data.DifficultyLevel).values()}"
                        th:value="${level}" th:text="${level}"/>
            </select>
        </div>

    </form>

    <br/>

    <button form="form_cr" type="submit" class="btn btn-success" th:text="#{btn.pick_melody}"/>
    <a href="/quizzes">
        <button class="btn btn-default" th:text="#{btn.cancel}"/>
    </a>


    <p id="par"></p>

    <!--******************** end page content ************************************************-->

</div>


</body>
</html>