<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{t.quiz_details}"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">

    <!--************************ page content ****************************************-->

    <a href="/" th:text="#{n.home}"/>

    <h4>
        <span th:text="#{locale}"/> <strong><em th:text="${this_locale}"/></strong><br/>
        <span th:text="#{h.number_questions}"/> <strong><em th:text="${quiz.size}"/></strong><br/>
        <span th:text="#{h.difficulty}"/> <strong><em th:text="${quiz.difficultyLevel}"/></strong>
    </h4>

    <h4>
        <span th:text="#{quiz}"/> <b>
        <em th:text="${localTitle} ? ${localTitle} : ${quiz.title}"/></b><br/>

        <span th:text="#{producer}"/> <b><em th:text="${quiz.createdBy}"/></b><br/>

        <span th:text="#{lzations}"/> <a th:each="locale : ${locales}"
                                         th:href="'/quizzes/quiz/' + ${locale} + '?_id=' + ${quiz._id}"
                                         th:text="${locale}"></a>
    </h4>

    <h4><u th:text="#{t.questions}"/></h4>

    <div class="row-fluid">
        <div class="span9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <small th:text="#{h.melody}"/>
                    </th>
                    <th>
                        <small th:text="#{h.author}"/>
                    </th>
                    <th>
                        <small th:text="#{h.performer}"/>
                    </th>
                    <th>
                        <small th:text="#{h.producer}"/>
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="question, status : ${quiz.questions}" style="cursor: pointer"
                    th:onclick="'javascript:clickedRowMelody(\'' + ${question.melody._id} + '\');'">

                    <td width="5%" th:text="${status.count}"></td>
                    <td width="25%" th:text="${question.melody.name}"></td>
                    <td width="20%" th:text="${question.melody.author.nameShort}"></td>
                    <td width="25%" th:text="${question.melody.performer}"></td>
                    <td width="25%" th:text="${question.melody.documentCreator}"></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>


    <!--************************ FORMS - HELPERS  ************************************-->

    <form th:action="@{'/delete/quiz/' + ${quiz._id}}" method="post" id="del"/>

    <!--************************ BUTTONS  ********************************************-->

    <!-- Here is an example how to pass variable from ThymeLeaf to the JavaScript code -->

    <button form="del" type="submit" class="btn btn-danger" th:text="#{btn.delete}"
            th:onclick="'javascript:deleteBtnClicked(event, \'' + ${quiz.title} + '\');'"/>

    <a th:href="@{'/create/quiz'(_id=${quiz._id}, qnum=${quiz.size})}">
        <button class="btn btn-default" th:text="#{btn.update}"/>
    </a>

    <a th:href="@{'/create/quiz/localize'(_id=${quiz._id}, quiz_title=${quiz.title})}">
        <button class="btn btn-default" th:text="#{btn.localize}"
                onclick="localizeBtnClicked(event)"/>
    </a>

    <a href="/quizzes">
        <button class="btn btn-default" th:text="#{btn.ok}"/>
    </a>

    <!--******************** end page content ****************************************-->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script th:inline="javascript">

    /*<![CDATA[*/

    function deleteBtnClicked(e, name) {
        if (!confirm([[#{js.thequiz}]] + ' ' + name + ' ' + [[#{js.wbdel}]])) {
            e.preventDefault();
        }
    }

    function localizeBtnClicked(e) {
        if (!confirm([[#{js.local_quiz_btn}]])) {
            e.preventDefault();
        }
    }

    function clickedRowMelody(_id) {
        location.href = "/melody/en?_id=" + _id;
    }

    /*]]>*/
</script>

</body>
</html>