<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{t.localize}"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->

    <h3><span th:text="#{t.localize_quiz}"/> <i th:text="${quiz_title}"></i></h3>

    <form th:action="@{'/create/quiz/localize/' + ${_id}}" method="POST" role="form" id="quiz">

        <div class="form-group">
            <label th:text="#{h.choose_locale} + '  '"/>
            <label class="radio-inline" th:each="locale: ${locales}">
                <input type="radio" th:value="${locale}" th:text="${locale}" name="locale" />
            </label>
        </div>

        <div class="form-group">
            <label for="name" th:text="#{quiz}"/>
            <input name="title" type="text" class="form-control" id="name"
                   th:placeholder="#{ph.quiz_loc_ru}"
                    required="true" pattern=".{2,50}"/>
        </div>
    </form>

    <button form="quiz" type="submit" class="btn btn-success" th:text="#{btn.localize}"/>

    <a href="/quizzes"><button class="btn btn-default" th:text="#{btn.cancel}"/></a>

    <!--******************** end page content ************************************************-->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>