<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{h.quizzes}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->
    <a href="/" th:text="#{n.home}"/>

    <h3 th:text="#{h.quizzes}"/>

    <div class="row-fluid">
        <div class="span9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <small th:text="#{h.title}"/>
                    </th>
                    <th>
                        <small th:text="#{h.level}"/>
                    </th>
                    <th>
                        <small th:text="#{h.questions}"/>
                    </th>
                    <th>
                        <small th:text="#{h.producer}"/>
                    </th>
                    <th>
                        <small th:text="#{h.production}"/>
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="quiz, status : ${q_list}" style="cursor: pointer"
                               th:onclick="'javascript:clickedRowQuiz(\'' + ${quiz._id} + '\');'">

                    <td width="5%"  th:text="${status.count}"></td>
                    <td width="40%" th:text="${quiz.title}"></td>
                    <td width="15%" th:text="${quiz.difficultyLevel}"></td>
                    <td width="10%" th:text="${quiz.size}"></td>
                    <td width="20%" th:text="${quiz.createdBy}"></td>
                    <td width="10%" th:text="${quiz.productionReady} ? #{h.ready} : #{h.notready}"></td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--******************** end page content ************************************************-->

</div>

<script>
    function clickedRowQuiz(_id) {
        location.href = "/quizzes/quiz/en?_id=" + _id;
    }
</script>

</body>
</html>