<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <title>Add/Edit Melody</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->

    <h3 th:text="#{add_mel}"/>

    <form action="/create/melody" method="POST" role="form" id="melody"
          enctype="multipart/form-data" th:object="${melody}">

        <input type="hidden" th:if="${melody._id}" th:name="'_id'" th:value="${melody._id}"/>

        <div class="form-group">
            <label for="author" th:text="#{author}"/>
            <select name="author_n" id="author">
                <option value="none" th:text="#{t.choose_auth}"/>
                <option th:each="author : ${authors}"
                        th:value="${author}"
                        th:text="${author}"/>
            </select>
        </div>

        <div class="form-group">
            <label for="name" th:text="#{m_name}"/>
            <input th:field="*{name}" type="text" class="form-control" id="name"
                   th:placeholder="#{ph.mel_name}" required="true" pattern=".{2,100}"/>
        </div>


        <div class="form-group">
            <label for="year" th:text="#{year}"/>
            <input th:field="*{year}" type="text" class="form-control" id="year"
                   th:placeholder="#{ph.year}" required="true" pattern=".{4,4}"/>
        </div>

        <div class="form-group">
            <label for="performer" th:text="#{performer}"/>
            <input th:field="*{performer}" type="text" class="form-control" id="performer"
                   th:placeholder="#{ph.performer}" required="true" pattern=".{2,50}"/>
        </div>

        <div class="form-group">
            <label for="infoUrl" th:text="#{info}"/>
            <input th:field="*{infoUrl}" type="text" class="form-control" id="infoUrl"
                   th:placeholder="#{ph.info}" required="true" pattern=".{10,2000}"/>
        </div>

        <div class="form-group">
            <label for="input_file" th:text="#{t.choose_file}"/>
            <input type="file" name="file" id="input_file"/>
        </div>
    </form>

    <button form="melody" type="submit" class="btn btn-success"
            th:text="#{btn.add}"
            th:onclick="'javascript:addMelodyClicked(event, \''
                + #{media.types} + '\', \'' + #{media.ext} + '\');'"/>

    <a th:href="${melody._id} ? '/melody/en?_id=' + ${melody._id} : '/melodies' ">
        <button class="btn btn-default" th:text="#{btn.cancel}"/>
    </a>

    <!--******************** end page content ************************************************-->

</div>
<script src="../scripts/create_melody.js"></script>
</body>
</html>