<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{t.melody_details}"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">

    <!--************************ page content ****************************************-->
    <a href="/" th:text="#{n.home}"/> | <a href="/melodies" th:text="#{n.melodies}"/>
    <!--************************ FRAGMENT "Author Info"  ***************************-->

    <div th:fragment="melody_info">

        <h4><span th:text="#{locale}"/> <strong><em th:text="${this_locale}"></em></strong></h4>

        <h4><span th:text="#{melody}"/> <b>
            <em th:text="${localName} ? ${localName} : ${melody.name}" /></b></h4>

        <h4><span th:text="#{year}"/> <b><em th:text="${melody.year}"/></b></h4>

        <h4><span th:text="#{author}"/> <b>
            <em th:text="${authorLocal} ? ${authorLocal} : ${melody.author.nameFull}"/></b></h4>

        <h4><span th:text="#{performer}"/> <b>
            <em th:text="${performer} ? ${performer} : ${melody.performer}"/></b></h4>

        <h4><span th:text="#{producer}"/> <b>
            <em th:text="${melody.documentCreator}"/></b></h4>



        <h4><span th:text="#{info}"/> <a th:href="@{${infoUrl} ? ${infoUrl} : ${melody.infoUrl}}" target="_blank">
            <b><em th:text="${infoUrl} ? ${infoUrl} : ${melody.infoUrl}"/></b></a>
        </h4>
        <h4><span th:text="#{lzations}"/> <a th:each="locale : ${locales}"
                              th:href="'/melody/' + ${locale} + '?_id=' + ${melody._id}"
                              th:text="${locale}"></a></h4>
    </div>

    <!--************************ END OF FRAGMENT "Composer Info"  ********************-->

    <!--************************ FORMS - HELPERS  ************************************-->

    <form th:action="@{'/delete/melody/' + ${melody._id}}" method="post" id="del" />

    <!--************************ BUTTONS  ********************************************-->

    <!-- Here is an example how to pass variable from ThymeLeaf to the JavaScript code -->

    <button form="del" type="submit" class="btn btn-danger" th:text="#{btn.delete}"
            th:onclick="'javascript:deleteMelodyBtnClicked(event, \'' + ${melody.name} + '\');'" />

    <a th:href="@{'/create/melody'(_id=${melody._id})}">
            <button class="btn btn-default" th:text="#{btn.update}"
                    onclick="updateMelodyBtnClicked(event)"/></a>

    <a th:href="@{'/create/melody/localize/author'(_id=${melody._id})}">
            <button class="btn btn-default" th:text="#{btn.localize}"
                    onclick="localizeMelodyBtnClicked(event)"/></a>

    <a href="/melodies"><button class="btn btn-default" th:text="#{btn.ok}"/></a>

    <!--******************** end page content ****************************************-->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script th:inline="javascript">

    /*<![CDATA[*/

    function deleteMelodyBtnClicked(e, name) {
        if (!confirm([[#{js.themelody}]] + ' ' + name + ' ' + [[#{js.wbdel}]])) {
            e.preventDefault();
        }
    }

    function updateMelodyBtnClicked(e) {
        if (!confirm([[#{js.update_melody_clicked}]])) {
            e.preventDefault();
        }
    }

    function localizeMelodyBtnClicked(e) {
        if (!confirm([[#{js.local_mel_btn}]])) {
            e.preventDefault();
        }
    }

    /*]]>*/
</script>

</body>
</html>