<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{h.authors}"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->
    <a href="/" th:text="#{n.home}"/> | <a href="/create/author" th:text="#{n.add_new_author}"/>

    <h3 th:text="#{h.authors}"/>

    <div class="row-fluid">
        <div class="span9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <small th:text="#{h.author}"/>
                    </th>
                    <th>
                        <small th:text="#{h.fname}"/>
                    </th>
                    <th>
                        <small th:text="#{h.wasborn}"/>
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="item,status : ${authors}" style="cursor: pointer"
                               th:onclick="'javascript:clickedRowAuthor(\'' + ${item.nameShort} + '\');'">

                        <td width="10%" th:text="${status.count}"></td>
                        <td width="25%" th:text="${item.nameShort}"></td>
                        <td width="45%" th:text="${item.nameFull}"></td>
                        <td width="20%" th:text="${item.birthYear}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--******************** end page content ************************************************-->

</div>

<script>
    function clickedRowAuthor(name) {
        location.href = "/author/en?name=" + name;
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>