<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{t.author_details}"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">

    <!--************************ page content ****************************************-->
    <a href="/" th:text="#{n.home}"/> | <a href="/authors" th:text="#{n.authors}"/>
    <!--************************ FRAGMENT "Author Info"  ***************************-->

    <div th:fragment="author_info">

        <h4><span th:text="#{locale}"/> <strong><em th:text="${this_locale}"></em></strong></h4>

        <h4><span th:text="#{author}"/> <b><em th:text="${localName} ? ${localName} : ${author.nameShort}" /></b></h4>

        <h4><span th:text="#{fullname}"/> <b><em th:text="${localFullName} ? ${localFullName} : ${author.nameFull}"/></b></h4>

        <h4><span th:text="#{country}"/> <b><em th:text="${country} ? ${country} : ${author.country}"/></b></h4>

        <h4><span th:text="#{yob}"/> <b><em th:text="${author.birthYear}"/></b></h4>

        <h4><span th:text="#{info}"/> <a th:href="@{${infoUrl} ? ${infoUrl} : ${author.infoUrl}}" target="_blank">
            <b><em th:text="${infoUrl} ? ${infoUrl} : ${author.infoUrl}"/></b></a>
        </h4>
        <h4><span th:text="#{lzations}"/> <a th:each="locale : ${locales}"
                              th:href="'/author/' + ${locale} + '?name=' + ${author.nameShort}"
                              th:text="${locale}"></a></h4>
    </div>

    <!--************************ END OF FRAGMENT "Composer Info"  ********************-->

    <!--************************ FORMS - HELPERS  ************************************-->

    <form th:action="@{'/delete/author/' + ${author.nameShort}}" method="post" id="del"/>

    <!--************************ BUTTONS  ********************************************-->

    <!-- Here is an example how to pass variable from ThymeLeaf to the JavaScript code -->

    <button form="del" type="submit" class="btn btn-danger"
            th:text="#{btn.delete}"
            th:onclick="'javascript:clickedDeleteAuthor(event, \'' + ${author.nameShort} + '\');'"/>

    <a th:href="@{'/create/author'(name=${author.nameShort})}">
        <button class="btn btn-default" th:text="#{btn.update}" onclick="updateAuthorBtnClicked(event)"/>
    </a>

    <a th:href="@{'/create/author/localize'(name=${author.nameShort})}">
        <button class="btn btn-default" th:text="#{btn.localize}" onclick="localizeAuthorBtnClicked(event)"/>
    </a>

    <a href="/authors">
        <button class="btn btn-default" th:text="#{btn.ok}"/>
    </a>

    <!--******************** end page content ****************************************-->

</div>
<script th:inline="javascript">

    /*<![CDATA[*/

    function localizeAuthorBtnClicked(e) {
        if (!confirm([[#{js.local_author_clicked}]])) {
            e.preventDefault();
        }
    }

    function updateAuthorBtnClicked(e) {
        if (!confirm([[#{js.update_author_clicked}]])) {
            e.preventDefault();
        }
    }

    /*]]>*/

    function clickedDeleteAuthor(e, name) {
        if (!confirm('The Author ' + name + ' will be deleted!!!')) {
            e.preventDefault();
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>