<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="#{t.localize}"/>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <!--************************ page content ************************************************-->

    <h3><span th:text="#{t.localize_auth}"/> <i th:text="${author}"></i></h3>

    <form th:action="@{'/create/author/localize/' + ${author}}" method="POST" role="form" id="author">

        <div class="form-group">
            <label th:text="#{h.choose_locale} + '  '"/>
            <label class="radio-inline" th:each="locale: ${locales}">
                <input type="radio" th:value="${locale}" th:text="${locale}" name="locale" />
            </label>
        </div>

        <div class="form-group">
            <label for="nameShort" th:text="#{author}"/>
            <input name="nameShort" type="text" class="form-control" id="nameShort"
                   th:placeholder="#{ph.auth_loc_ru}"
                    required="true" pattern=".{2,20}"/>
        </div>

        <div class="form-group">
            <label for="nameFull" th:text="#{fullname}"/>
            <input name="nameFull" type="text" class="form-control" id="nameFull"
                   th:placeholder="#{ph.fname_loc_ru}"
                    required="true" pattern=".{2,50}"/>
        </div>

        <div class="form-group">
            <label for="country" th:text="#{country}"/>
            <input name="country" type="text" class="form-control" id="country"
                   th:placeholder="#{ph.country_loc_ru}"
                    required="true" pattern=".{3,30}"/>
        </div>

        <div class="form-group">
            <label for="infoUrl" th:text="#{info}"/>
            <input name="infoUrl" type="text" class="form-control" id="infoUrl"
                   th:placeholder="#{ph.info_loc_ru}"
                    required="true" pattern=".{10,}"/>
        </div>

    </form>

    <button form="author" type="submit" class="btn btn-success" th:text="#{btn.localize}"/>

    <a href="/"><button class="btn btn-default" th:text="#{btn.cancel}"/></a>

    <!--******************** end page content ************************************************-->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>